@font-face {
  font-family: "iconfont"; /* Project id 3509165 */
  src: url('iconfont.woff2?t=1657262531477') format('woff2'),
       url('iconfont.woff?t=1657262531477') format('woff'),
       url('iconfont.ttf?t=1657262531477') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wo:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-04:before {
  content: "\e608";
}

.icon-youjian:before {
  content: "\e624";
}

.icon-xiaozu:before {
  content: "\e69a";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-fenxiang:before {
  content: "\eb24";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-yingyin:before {
  content: "\e604";
}

.icon-pinglun:before {
  content: "\e602";
}

